body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position:fixed;
}
#title{
    position:fixed;
}
.toplist{
        background-color:lightgray;
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
    }
    li{
        float:right;
    }
    li{
        display: block;
        color:black;
        text-align: center;
        padding: 15px 30px 15px;
        text-decoration: none;
    }
    li:hover {
        color: rgb(155, 164, 190);
        border-bottom: 3px solid rgb(30, 36, 41);
    }


.leftpart{
    width:47%;
    height:660px;
    background: rosybrown;
    float:left;
    margin: 0px;
    padding: 100px 5px 50px 5px;
    /* position: fixed; */
}

.trans{
    display:inline-block;
    padding: 25px 50px 25px 50px;
    border: 1px solid black;
    border-radius: 200px;
    background-color: lightblue;
    margin-right:5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.trans:hover {
    transform: scale(1.1);
}

.trans_content {
    padding-top: 25px;
    text-align: center;
    font-size: 100%;
}

.transmall{
    display:inline-block;
    padding: 50px 100px 50px 90px;
    border: 1px solid gold;
    border-radius: 200px;
    background-color: lightblue;
    width: 30px;
}

.transmall:hover {
    transform: scale(1.1);
}


.rightpart{
    padding:10px 10px 10px 10px;
    width: 51%;
    height:1000px;
    max-height: max-content;
    background-color: rgb(80, 11, 11);
    float:right;
    margin-top:75px;
    position: relative;
    overflow-y:auto;
}

.righttitle1{
    background-color: hotpink;
    width:650px;
    height:225px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-right:20px;
}

.title{
    display:block;
    background-color: indianred;
    padding:5px 5px 5px 5px;
}

.card{
    display:inline-block;
    padding: 10px 5px 10px 10px;
    border: 1px solid black;
    background-color: rgb(101, 214, 36);
    height: 125px;
    width: 150px;
    margin: 5px 20px 10px 20px;
    transition: transform 1s ease;
    /* position: relative; */
}

.card:hover {
    transform: scale(1.1);
}
.card-top{
    display: inline-block;
    padding: 5px 40px 5px 40px;
}
.card-content {
    padding-bottom: 25px;
    text-align: center;
    font-size: 100%;
}

.corner{
    float:right;
    position: fixed;
    bottom:120px;
    right:80px;
    background-color: aquamarine;
}
